<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.fasa.cv"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:icon="@drawable/converter_normal"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:allowBackup="false">
        <activity
            android:name="br.edu.fasa.cv.presentation.Principal" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.CadCliente"/>
        <activity android:name=".presentation.CadVenda"/>
        <activity android:name=".presentation.CadProduto"/>
        <activity android:name=".presentation.CadCategoria"/>
        <activity android:name=".presentation.ListaCliente"/>
        <activity android:name=".presentation.ListaCategoria"/>
        <activity android:name=".presentation.ListaProduto"/>
        <activity android:name=".presentation.InserirProduto"/>
    </application>

</manifest>